<main id="main">
  <div class="site-section pb-0 site-portfolio">
    <div class="container">

      <div class="row mb-5 align-items-end">
        <div class="col-md-6" data-aos="fade-up">
          <h2>Contact</h2>
          <p class="mb-0">Share with me all your ideas.
          </p>
        </div>

      </div>

      <div class="row">
        <div class="col-md-6 mb-5 mb-md-0" data-aos="fade-up">
          <form [formGroup]="contactForm" (ngSubmit)="submitContactData()" novalidate class="php-email-form">

            <div class="row">
              <div class="col-md-6 form-group">
                <label for="name">{{ 'contact.firstNameLabel' | transloco }}</label>
                <input type="text" name="name" formControlName="nombre" class="form-control" id="name" required />
                <div class="validate"></div>
                <p *ngIf="contactForm.controls['nombre'].errors?.['required']" class="error">
                  <sup>*</sup>{{ 'contact.firstNameRequiredError' | transloco }}
                </p>
              </div>
              <div class="col-md-6 form-group">
                <label for="email">{{ 'contact.emailLabel' | transloco }}</label>
                <input type="email" class="form-control" formControlName="correo" id="email" required />
                <div class="validate"></div>
                <p *ngIf="contactForm.controls['correo'].errors?.['required']" class="error">
                  <sup>*</sup>{{ 'contact.emailRequiredError' | transloco }}
                </p>
              </div>
              <div class="col-md-12 form-group">
                <label for="subject">{{ 'contact.matterLabel' | transloco }}</label>
                <input type="text" class="form-control" formControlName="asunto" id="subject" required />
                <div class="validate"></div>
                <p *ngIf="contactForm.controls['asunto'].errors?.['required']" class="error">
                  <sup>*</sup>{{ 'contact.matterRequiredError' | transloco }}
                </p>
              </div>
              <div class="col-md-12 form-group">
                <label for="message">{{ 'contact.descriptionLabel' | transloco }}</label>
                <textarea class="form-control" name="message" formControlName="descripcion" cols="30" rows="10"
                  required></textarea>
                <div class="validate"></div>
                <p *ngIf="contactForm.controls['descripcion'].errors?.['required']" class="error">
                  <sup>*</sup>{{ 'contact.descriptionRequiredError' | transloco }}
                </p>
              </div>


              <div class="col-md-12 mb-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">{{ 'contact.sentMessage' | transloco }}</div>
              </div>

              <div class="col-md-6 form-group">
                <button type="submit" class="readmore d-block w-100" [disabled]="!contactForm.valid">
                  {{ 'contact.sendButton' | transloco }}
                </button>
              </div>
            </div>

          </form>

        </div>

        <div class="col-md-4 ml-auto order-2" data-aos="fade-up">
          <ul class="list-unstyled">
            <li class="mb-3">
              <strong class="d-block mb-1">Address</strong>
              <span>Aguascalientes, Ags, Mexico</span>
            </li>
            <li class="mb-3">
              <strong class="d-block mb-1">Phone</strong>
              <span>+52 449 373 63 45</span>
            </li>
            <li class="mb-3">
              <strong class="d-block mb-1">Email</strong>
              <span>emilioenlaluna@gmail.com</span>
            </li>
          </ul>
        </div>

      </div>

    </div>

  </div>
</main>