
.toggle {
    display: none;
}

.toggle-label {
    position: fixed;
    top: 29%;
    right: .5%;
    width: 2rem;
    height: 2rem;
    overflow: hidden;
    cursor: pointer;
    z-index: 100;
}

.sun,
.moon {
    position: absolute;
    right: 0;
    width: 100%;
    height: auto;
    transition: top 0.3s;
    user-select: none;
    
}

.sun {
    top: 0;
}

.moon {
    top: -150%;
}

.toggle:checked+.toggle-label .sun {
    top: 150%;
}

.toggle:checked+.toggle-label .moon {
    top: 0;
}



.languaje {
    position: fixed;
    top: 18%;
    right: .5%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    z-index: 100;
}

.languaje button {
    margin: .1rem;
    border-style: none;
    border-radius: 5em;
    width: 2rem;
    height: 2rem;
}

.languaje button img {
    width: 2rem;
    height: 2rem;
    border-radius: 5em;
}

.languaje button:hover {
    border-radius: 5em;
    border-style: none;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
}

.languaje button:hover img {
    width: 2rem;
    height: 2rem;
    border-radius: 5em;
}
