<div class="site-section">
    <div class="container">
        <div class="row mb-4 align-items-center">
            <div class="col-md-6" data-aos="fade-up">

                <h2>Work Single Page</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam necessitatibus incidunt ut
                    officiis
                    explicabo inventore.</p>

            </div>


        </div>
    </div>

    <div class="site-section pb-0">
        <div class="container">
            <div class="row align-items-stretch">
                <div class="col-md-8" data-aos="fade-up">
                    <img src="/assets/portfolio/img/img_1_big.jpg" alt="Image" class="img-fluid">
                </div>
                <br>
                <div class="col-md-3 ml-auto" data-aos="fade-up" data-aos-delay="100">
                    <div class="sticky-content">
                        <h3 class="h3">Boxed Water</h3>
                        <p class="mb-4"><span class="text-muted">Design</span></p>

                        <div class="mb-5">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores illo, id recusandae
                                molestias
                                illum unde pariatur, enim tempora.</p>

                        </div>


                        <h4 class="h4 mb-3">What I did</h4>
                        <ul class="list-unstyled list-line mb-5">
                            <li>Design</li>
                            <li>HTML5/CSS3</li>
                            <li>CMS</li>
                            <li>Logo</li>
                        </ul>

                        <p><a href="#" class="readmore">Visit Website</a></p>
                    
                    </div>
                </div>
            </div>
            <br>
            <div class="row">

                <div class="col-12 col-sm-6 col-md-6 col-lg-6 mb-5" data-aos="fade-up" data-aos-delay="">
                    <span class="la la-cube la-3x mb-4"></span>
                    <h4 class="h4 mb-2">Web Design</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit explicabo inventore.</p>
                    <ul class="list-unstyled list-line">
                        <li>Lorem ipsum dolor sit amet consectetur adipisicing</li>
                        <li>Non pariatur nisi</li>
                        <li>Magnam soluta quod</li>
                        <li>Lorem ipsum dolor</li>
                        <li>Cumque quae aliquam</li>
                    </ul>
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-6 mb-5" data-aos="fade-up" data-aos-delay="100">
                    <span class="la la-mobile la-3x mb-4"></span>
                    <h4 class="h4 mb-2">Mobile Applications</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit explicabo inventore.</p>
                    <ul class="list-unstyled list-line">
                        <li>Lorem ipsum dolor sit amet consectetur adipisicing</li>
                        <li>Non pariatur nisi</li>
                        <li>Magnam soluta quod</li>
                        <li>Lorem ipsum dolor</li>
                        <li>Cumque quae aliquam</li>
                    </ul>
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-6 mb-5" data-aos="fade-up" data-aos-delay="">
                    <span class="la la-image la-3x mb-4"></span>
                    <h4 class="h4 mb-2">Graphic Design</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit explicabo inventore.</p>
                    <ul class="list-unstyled list-line">
                        <li>Lorem ipsum dolor sit amet consectetur adipisicing</li>
                        <li>Non pariatur nisi</li>
                        <li>Magnam soluta quod</li>
                        <li>Lorem ipsum dolor</li>
                        <li>Cumque quae aliquam</li>
                    </ul>
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-6 mb-5" data-aos="fade-up" data-aos-delay="100">
                    <span class="la la-search la-3x mb-4"></span>
                    <h4 class="h4 mb-2">SEO</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit explicabo inventore.</p>
                    <ul class="list-unstyled list-line">
                        <li>Lorem ipsum dolor sit amet consectetur adipisicing</li>
                        <li>Non pariatur nisi</li>
                        <li>Magnam soluta quod</li>
                        <li>Lorem ipsum dolor</li>
                        <li>Cumque quae aliquam</li>
                    </ul>
                </div>
            </div>
            
        </div>
    </div>


    

    <div class="site-section pb-0">
        <div class="container">
            <div class="row align-items-stretch">
                <div class="col-md-8" data-aos="fade-up">
                    <img src="/assets/portfolio/img/img_1_big.jpg" alt="Image" class="img-fluid">
                </div>
                <div class="col-md-3 ml-auto" data-aos="fade-up" data-aos-delay="100">
                    <div class="sticky-content">
                        <h3 class="h3">Boxed Water</h3>
                        <p class="mb-4"><span class="text-muted">Design</span></p>

                        <div class="mb-5">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores illo, id recusandae
                                molestias
                                illum unde pariatur, enim tempora.</p>

                        </div>


                        <h4 class="h4 mb-3">What I did</h4>
                        <ul class="list-unstyled list-line mb-5">
                            <li>Design</li>
                            <li>HTML5/CSS3</li>
                            <li>CMS</li>
                            <li>Logo</li>
                        </ul>

                        <p><a href="#" class="readmore">Visit Website</a></p>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">

                <div class="col-12 col-sm-6 col-md-6 col-lg-6 mb-5" data-aos="fade-up" data-aos-delay="">
                    <span class="la la-cube la-3x mb-4"></span>
                    <h4 class="h4 mb-2">Web Design</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit explicabo inventore.</p>
                    <ul class="list-unstyled list-line">
                        <li>Lorem ipsum dolor sit amet consectetur adipisicing</li>
                        <li>Non pariatur nisi</li>
                        <li>Magnam soluta quod</li>
                        <li>Lorem ipsum dolor</li>
                        <li>Cumque quae aliquam</li>
                    </ul>
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-6 mb-5" data-aos="fade-up" data-aos-delay="100">
                    <span class="la la-mobile la-3x mb-4"></span>
                    <h4 class="h4 mb-2">Mobile Applications</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit explicabo inventore.</p>
                    <ul class="list-unstyled list-line">
                        <li>Lorem ipsum dolor sit amet consectetur adipisicing</li>
                        <li>Non pariatur nisi</li>
                        <li>Magnam soluta quod</li>
                        <li>Lorem ipsum dolor</li>
                        <li>Cumque quae aliquam</li>
                    </ul>
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-6 mb-5" data-aos="fade-up" data-aos-delay="">
                    <span class="la la-image la-3x mb-4"></span>
                    <h4 class="h4 mb-2">Graphic Design</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit explicabo inventore.</p>
                    <ul class="list-unstyled list-line">
                        <li>Lorem ipsum dolor sit amet consectetur adipisicing</li>
                        <li>Non pariatur nisi</li>
                        <li>Magnam soluta quod</li>
                        <li>Lorem ipsum dolor</li>
                        <li>Cumque quae aliquam</li>
                    </ul>
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-6 mb-5" data-aos="fade-up" data-aos-delay="100">
                    <span class="la la-search la-3x mb-4"></span>
                    <h4 class="h4 mb-2">SEO</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit explicabo inventore.</p>
                    <ul class="list-unstyled list-line">
                        <li>Lorem ipsum dolor sit amet consectetur adipisicing</li>
                        <li>Non pariatur nisi</li>
                        <li>Magnam soluta quod</li>
                        <li>Lorem ipsum dolor</li>
                        <li>Cumque quae aliquam</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="site-section pb-0">
        <div class="container">
            <div class="row align-items-stretch">
                <div class="col-md-8" data-aos="fade-up">
                    <img src="/assets/portfolio/img/img_1_big.jpg" alt="Image" class="img-fluid">
                </div>
                <div class="col-md-3 ml-auto" data-aos="fade-up" data-aos-delay="100">
                    <div class="sticky-content">
                        <h3 class="h3">Boxed Water</h3>
                        <p class="mb-4"><span class="text-muted">Design</span></p>

                        <div class="mb-5">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores illo, id recusandae
                                molestias
                                illum unde pariatur, enim tempora.</p>

                        </div>


                        <h4 class="h4 mb-3">What I did</h4>
                        <ul class="list-unstyled list-line mb-5">
                            <li>Design</li>
                            <li>HTML5/CSS3</li>
                            <li>CMS</li>
                            <li>Logo</li>
                        </ul>

                        <p><a href="#" class="readmore">Visit Website</a></p>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">

                <div class="col-12 col-sm-6 col-md-6 col-lg-6 mb-5" data-aos="fade-up" data-aos-delay="">
                    <span class="la la-cube la-3x mb-4"></span>
                    <h4 class="h4 mb-2">Web Design</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit explicabo inventore.</p>
                    <ul class="list-unstyled list-line">
                        <li>Lorem ipsum dolor sit amet consectetur adipisicing</li>
                        <li>Non pariatur nisi</li>
                        <li>Magnam soluta quod</li>
                        <li>Lorem ipsum dolor</li>
                        <li>Cumque quae aliquam</li>
                    </ul>
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-6 mb-5" data-aos="fade-up" data-aos-delay="100">
                    <span class="la la-mobile la-3x mb-4"></span>
                    <h4 class="h4 mb-2">Mobile Applications</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit explicabo inventore.</p>
                    <ul class="list-unstyled list-line">
                        <li>Lorem ipsum dolor sit amet consectetur adipisicing</li>
                        <li>Non pariatur nisi</li>
                        <li>Magnam soluta quod</li>
                        <li>Lorem ipsum dolor</li>
                        <li>Cumque quae aliquam</li>
                    </ul>
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-6 mb-5" data-aos="fade-up" data-aos-delay="">
                    <span class="la la-image la-3x mb-4"></span>
                    <h4 class="h4 mb-2">Graphic Design</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit explicabo inventore.</p>
                    <ul class="list-unstyled list-line">
                        <li>Lorem ipsum dolor sit amet consectetur adipisicing</li>
                        <li>Non pariatur nisi</li>
                        <li>Magnam soluta quod</li>
                        <li>Lorem ipsum dolor</li>
                        <li>Cumque quae aliquam</li>
                    </ul>
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-6 mb-5" data-aos="fade-up" data-aos-delay="100">
                    <span class="la la-search la-3x mb-4"></span>
                    <h4 class="h4 mb-2">SEO</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit explicabo inventore.</p>
                    <ul class="list-unstyled list-line">
                        <li>Lorem ipsum dolor sit amet consectetur adipisicing</li>
                        <li>Non pariatur nisi</li>
                        <li>Magnam soluta quod</li>
                        <li>Lorem ipsum dolor</li>
                        <li>Cumque quae aliquam</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>